.titulo{
	color: orange;
	text-align: center;
}


body{
	background: pink;
}

.imagen1{
	border-radius: 15px;
	box-shadow: 1px 10px 15px rgba(255, 0, 149, 0.75);/*agrega un sombreado de color rosado*/
	float: left; 
	margin-right: 100px;
	margin-left: 200px;
}

.tabla1 {
	border: 7px solid rgba(255, 255, 255, 0.75);
	margin-left: 10px;
	float: left;
	margin-right: 5px;
}

.tabla1 td{
	border: 5px solid rgba(255, 255, 255, 0.75);
	text-align: center;
}

.tabla2 td{
	text-align: center;
}